@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@layer base {
  h1 {
    @apply text-4xl  md:text-6xl lg:text-7xl  font-extrabold text-center lg:text-left;
  }

  h2 {
    @apply text-6xl font-extrabold text-black uppercase text-center mb-16;
  }

  h3 {
    @apply text-3xl sm:text-4xl font-bold mb-2 sm:mb-8;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  body {
    @apply overflow-x-hidden bg-white text-gray-500 h-full;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  [type='text'],
  [type='email'],
  textarea {
    @apply w-full resize-none h-14 rounded-lg border-2 border-gray-200 
    focus:border-purple focus:ring-purple 
    shadow-sm placeholder-transparent;
  }

  label {
    @apply font-normal absolute z-10 left-2 -top-3  text-xs rounded-full py-1 px-2 bg-white
    peer-placeholder-shown:text-base  peer-placeholder-shown:top-3.5 peer-placeholder-shown:bg-transparent
    transition-all peer-focus:-top-3  peer-focus:text-xs peer-focus:bg-white;
  }
}

@layer components {
  .background-image {
    background-image: url('../lib/images/pic-shadow.svg');
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8%;
    left: 12%;
    z-index: -5;
  }

  .nav-items {
    @apply hover:border-opacity-100 transform border-cyan border-b-4 border-opacity-0 transition-all duration-500;
  }

  .about-subtitle {
    @apply my-4 tracking-wider text-white;
  }

  .card {
    @apply flex lg:flex-row lg:even:flex-row-reverse flex-col-reverse items-center gap-8 lg:gap-16
    space-y-4  sm:my-16 mx-8 lg:p-8  lg:mx-auto shadow-lg lg:shadow-none rounded-xl;
  }

  .card-btn {
    @apply bg-cyan sm:px-6 sm:py-3 px-3 py-1.5 rounded-lg text-black font-semibold shadow-sm  hover:scale-110 hover:shadow-lg transition-all duration-150;
  }
  .card-link {
    @apply text-cyan hover:underline;
  }

  .tooltip {
    @apply invisible group-hover:visible absolute -top-8 left-1/2 
    transform -translate-x-1/2 -translate-y-1/2  z-10 
    px-2 py-1 bg-white text-black 
    flex justify-center items-center 
    rounded-sm capitalize;
  }

  .tooltip-arrow {
    position: absolute;
    bottom: -1rem;
    color: white;
    width: 0;
    height: 0;
    border: 0.5rem solid hsla(330, 70%, 98%, 1);
    border-top-color: hsla(330, 70%, 98%, 1);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}
