@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

@layer base {
  h1 {
    @apply text-center  text-4xl font-extrabold  md:text-6xl lg:text-left lg:text-7xl;
  }

  h2 {
    @apply mb-16 text-center text-6xl font-extrabold uppercase text-black;
  }

  h3 {
    @apply mb-2 text-xl font-bold sm:mb-8 sm:text-2xl;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  body {
    @apply h-full overflow-x-hidden bg-white text-gray-500;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  [type='text'],
  [type='email'],
  textarea {
    @apply h-14 w-full resize-none rounded-lg border-2 border-gray-200 
    placeholder-transparent shadow-sm 
    focus:border-purple focus:ring-purple;
  }

  label {
    @apply absolute left-2 -top-3 z-10 rounded-full  bg-white py-1 px-2 text-xs font-normal
    transition-all  peer-placeholder-shown:top-3.5 peer-placeholder-shown:bg-transparent
    peer-placeholder-shown:text-base peer-focus:-top-3  peer-focus:bg-white peer-focus:text-xs;
  }
}

@layer components {
  .background-image {
    background-image: url('../public/images/pic-shadow.svg');
    height: 100%;
    width: 100%;
    position: absolute;
    top: 8%;
    left: 12%;
    z-index: -5;
  }

  .nav-items {
    @apply transform border-b-4 border-cyan border-opacity-0 transition-all 
    duration-500 hover:border-opacity-100;
  }

  .about-subtitle {
    @apply my-4 tracking-wider;
  }

  .card-btn {
    @apply animate-gradient-hover rounded-xl bg-gradient-to-br  from-purple to-cyan px-6 py-3 font-semibold 
    text-white shadow-sm transition-all duration-1000 ease-in hover:scale-105 hover:bg-gradient-to-tl hover:shadow-lg;
  }
  .card-link {
    @apply text-cyan hover:underline;
  }

  .tooltip {
    @apply invisible absolute -top-8 left-1/2 z-10 flex 
    -translate-x-1/2 -translate-y-1/2 transform  items-center 
    justify-center whitespace-nowrap  rounded-sm bg-slate-50 px-2
    py-0.5 text-sm font-medium capitalize text-slate-900 shadow-sm
    shadow-gray-800 group-hover:visible;
  }

  .tooltip-arrow {
    position: absolute;
    bottom: -0.8rem;
    color: white;
    width: 0;
    height: 0;
    border: 0.4rem solid rgb(248, 250, 252);
    border-top-color: rgb(248, 250, 252);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}
